.main{
    border: 2px solid gray;
    width: 200px;
    margin: 0 auto;
}
.result{
    width: 95%;
    background-color: gray;
    color: #fff;
}
.clearBtn{
    width: 100%;
    margin-top: 10px;
    background-color: gray;
}
.Btn{
    width: 45px;
    margin: 1px;
}
.halfBtn{
    background-color: gray;
    width: 97px;
    margin-top: 5px;
}